nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1.5em;
  position: sticky;
  top: 0;
}

/*applies the Bungee style to Tweeter only to override default font */
.logo {
  font-family: 'Bungee';
}

.nav-btn button {
  color: #FFF;
  background-color: #4056A1;
  border: 0;
  padding: 0;
  cursor: pointer;
}